<div class="datepicker-settings-block">
    <div class="picker-block" [ngClass]="{filtered: !isLoad}">
        <mat-form-field *ngIf="isLoad && !isRange">
            <mat-label>Choose a datetime</mat-label>
            <input matInput [matDatepicker]="picker" (dateChange)="dateChange($event)" [value]="currentDate" />
            <mat-hint>{{format ? format : 'MM/DD/YYYY'}}</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker
                #picker
                uteDateSettings
                [format]="format"
                [weekStart]="weekStart"
                [overlayClass]="overlayClass"
                [backdropClass]="backdropClass"
                [contentClass]="contentClass"
                [weekdaysSymbols]="weekdaysSymbols"
                [dynamicTouchUI]="dynamicTouchUI"
            ></mat-datepicker>
        </mat-form-field>
        <mat-form-field *ngIf="isLoad && isRange">
            <mat-label>Choose a datetime</mat-label>
            <mat-date-range-input matInput [rangePicker]="rangeInput">
                <input matStartDate #dateRangeStart [(ngModel)]="rangeDate.start" />
                <input matEndDate #dateRangeEnd [(ngModel)]="rangeDate.end" (dateChange)="dateChange({dateRangeStart, dateRangeEnd})" />
            </mat-date-range-input>
            <mat-hint>{{format ? format : 'MM/DD/YYYY'}} – {{format ? format : 'MM/DD/YYYY'}}</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="rangeInput"></mat-datepicker-toggle>
            <mat-date-range-picker
                class="date-calendar"
                #rangeInput
                uteDateSettings
                [format]="format"
                [weekStart]="weekStart"
                [overlayClass]="overlayClass"
                [backdropClass]="backdropClass"
                [contentClass]="contentClass"
                [weekdaysSymbols]="weekdaysSymbols"
                [dynamicTouchUI]="dynamicTouchUI"
            ></mat-date-range-picker>
        </mat-form-field>
    </div>
    <div class="text" *ngIf="!isRange">Current Date: {{currentDate}}</div>
    <div class="text" *ngIf="isRange">Start Date: {{rangeDate.start}}</div>
    <div class="text" *ngIf="isRange">End Date: {{rangeDate.end}}</div>
</div>

<div class="datepicker-settings-settings">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Date Input</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Custom format (Native sample)</mat-label>
                <mat-select [(ngModel)]="format" (selectionChange)="reloadDatepicker()">
                    <mat-option value="">--Default--</mat-option>
                    <mat-option value="YYYY-MM-dd HH:mm:ss">YYYY-MM-dd HH:mm:ss</mat-option>
                    <mat-option value="MMM dd YYYY">MMM dd YYYY</mat-option>
                    <mat-option value="shortDate">shortDate</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Range Datepicker</mat-label>
                <mat-select [(ngModel)]="isRange" (selectionChange)="reloadDatepicker()">
                    <mat-option [value]="false">False</mat-option>
                    <mat-option [value]="true">True</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="dynamicTouchUI">Automatic Active TouchUI for Mobile</mat-checkbox>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Custom Classes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Custom overlay class</mat-label>
                <input matInput [(ngModel)]="overlayClass" (change)="reloadDatepicker()" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Custom backdrop class</mat-label>
                <input matInput [(ngModel)]="backdropClass" (change)="reloadDatepicker()" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Custom content class</mat-label>
                <input matInput [(ngModel)]="contentClass" (change)="reloadDatepicker()" />
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Calendar Style</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>First day of week</mat-label>
                <mat-select [(ngModel)]="weekStart" (selectionChange)="reloadDatepicker()">
                    <mat-option [value]="0">Sunday</mat-option>
                    <mat-option [value]="1">Monday</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Week day number of symbols</mat-label>
                <mat-select [(ngModel)]="weekdaysSymbols" (selectionChange)="reloadDatepicker()">
                    <mat-option [value]="null">--Default--</mat-option>
                    <mat-option [value]="1">S M T W T F S</mat-option>
                    <mat-option [value]="2">Su Mo Tu We Th Fr Sa</mat-option>
                    <mat-option [value]="3">Sun Mon Tue Wed Thu Fri Sat</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
</div>
