<ng-template>
    <div class="datepicker-time" [ngClass]="{view: view != 'month'}">
        <ng-container *ngIf="timeStyle === 'wheel'">
            <div class="time-container" [ngClass]="{outline: decoratorStyle === 'outline', diviner: showDiviner}">
                <time-wheel
                    [block]="hourBlocks"
                    [array]="hourValues"
                    [underline]="decoratorStyle === 'underline' ? true : false"
                    [visibleItemsCount]="visibleItemsCount"
                    [infiniteScroll]="infiniteScroll"
                    [currentIndex]="selectedIndex.hours"
                    (onChange)="onChange($event, timeType.hours)"
                ></time-wheel>
                <div class="diviner" *ngIf="showDiviner">:</div>
                <time-wheel
                    [block]="minuteBlocks"
                    [array]="minuteValues"
                    [underline]="decoratorStyle === 'underline' ? true : false"
                    [visibleItemsCount]="visibleItemsCount"
                    [infiniteScroll]="infiniteScroll"
                    [currentIndex]="selectedIndex.minutes"
                    (onChange)="onChange($event, timeType.minutes)"
                ></time-wheel>
                <div class="diviner" *ngIf="showDiviner && showSeconds">:</div>
                <time-wheel
                    *ngIf="showSeconds"
                    [block]="secondBlocks"
                    [array]="secondValues"
                    [underline]="decoratorStyle === 'underline' ? true : false"
                    [visibleItemsCount]="visibleItemsCount"
                    [currentIndex]="selectedIndex.seconds"
                    [infiniteScroll]="infiniteScroll"
                    (onChange)="onChange($event, timeType.seconds)"
                ></time-wheel>
                <div class="diviner" *ngIf="showDiviner && hourFormat === 12">&nbsp;</div>
                <time-wheel *ngIf="hourFormat === 12" [array]="dayPeriods" [infiniteScroll]="false" [currentIndex]="selectedIndex.period" (onChange)="onChange($event, timeType.period)"></time-wheel>
            </div>
        </ng-container>
        <ng-container *ngIf="timeStyle === 'button'">
            <div class="time-container" [ngClass]="{outline: decoratorStyle === 'outline', diviner: showDiviner}">
                <time-button
                    [block]="hourBlocks"
                    [array]="hourValues"
                    [underline]="decoratorStyle === 'underline' ? true : false"
                    [step]="hourStep"
                    [infiniteScroll]="infiniteScroll"
                    [currentIndex]="selectedIndex.hours"
                    (onChange)="onChange($event, timeType.hours)"
                ></time-button>
                <div class="diviner" *ngIf="showDiviner">:</div>
                <time-button
                    [block]="minuteBlocks"
                    [array]="minuteValues"
                    [underline]="decoratorStyle === 'underline' ? true : false"
                    [step]="minuteStep"
                    [infiniteScroll]="infiniteScroll"
                    [currentIndex]="selectedIndex.minutes"
                    (onChange)="onChange($event, timeType.minutes)"
                ></time-button>
                <div class="diviner" *ngIf="showDiviner && showSeconds">:</div>
                <time-button
                    *ngIf="showSeconds"
                    [block]="secondBlocks"
                    [array]="secondValues"
                    [underline]="decoratorStyle === 'underline' ? true : false"
                    [step]="secondStep"
                    [infiniteScroll]="infiniteScroll"
                    [currentIndex]="selectedIndex.seconds"
                    (onChange)="onChange($event, timeType.seconds)"
                ></time-button>
                <div class="diviner" *ngIf="showDiviner && hourFormat === 12">&nbsp;</div>
                <time-button *ngIf="hourFormat === 12" [array]="dayPeriods" [infiniteScroll]="false" [currentIndex]="selectedIndex.period" (onChange)="onChange($event, timeType.period)"></time-button>
            </div>
        </ng-container>
    </div>

    <ng-container *ngIf="isActions">
        <ng-template [cdkPortalOutlet]="_matDatepickerActions"></ng-template>
    </ng-container>
    <ng-container *ngIf="!isActions">
        <div class="ute-datepicker-actions" *ngIf="!showToday">
            <button class="recolor" mat-button (click)="onClose()">
                <svg height="18px" viewBox="0 0 24 24" width="18px" fill="black">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                </svg>
                {{locale['cancel']}}
            </button>
            <button mat-raised-button color="primary" (click)="onApply()">
                <svg height="18px" viewBox="0 0 24 24" width="18px" fill="white">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                </svg>
                {{locale['apply']}}
            </button>
        </div>
        <div class="ute-datepicker-actions" *ngIf="showToday">
            <button class="recolor" mat-button *ngIf="showToday" (click)="onToday()">
                <svg height="18px" viewBox="0 0 24 24" width="18px">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V9h14v10zm0-12H5V5h14v2zM7 11h5v5H7z" />
                </svg>
                {{locale['today']}}
            </button>
            <button class="icon" mat-flat-button color="accent" (click)="onClose()">
                <svg height="18px" viewBox="0 0 24 24" width="18px" fill="white">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                </svg>
            </button>
            <button class="icon" mat-raised-button color="primary" (click)="onApply()">
                <svg height="18px" viewBox="0 0 24 24" width="18px" fill="white">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z" />
                </svg>
            </button>
        </div>
    </ng-container>
</ng-template>
