.wheel-container {
    overflow: hidden;
    position: relative;
    &.underline:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(calc(-50% + 0.9375rem));
        height: 1px;
        width: 100%;
        background-color: var(--mat-datepicker-calendar-date-today-outline-color);
    }
    .wheel {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        height: 100%;
        width: 1.875rem;
        position: relative;
        font-size: var(--mat-datepicker-calendar-text-size);
        .wheel-item {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            width: 1.875rem;
            height: 1.875rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all;
            &.block {
                color: red;
            }
        }
    }
}
